[submodule "Child_1"]
	path = Child_1
	url = https://github.com/Mushu-Tutorials/tuto-git-submodule-child-1
	branch = master
[submodule "Child_2"]
	path = Child_2
	url = https://github.com/Mushu-Tutorials/tuto-git-submodule-child-2
	branch = master
